#mainNav a.nav-link:hover:not(#sidenavToggler) {
    background-color: #edeceb;
}
#mainNav a.nav-link {
    color: #433029;
}
.breadcrumb a {
    color: #fff;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "›";
}

.pagination .page-link {
    color: #433029;
}

.pagination .page-item.active .page-link {
    border-color: #dee2e6;
}

.select2-dish + .select2-container > .selection > .select2-selection {
    min-height: 50px;
    height: 52px;
}
.select2-category + .select2-container > .selection > .select2-selection,
.select2-container > .selection > .select2-selection {
    min-height: 36px;
    height: 38px;
}
.select2-container
    > .selection
    > .select2-selection
    > .select2-selection__rendered {
    min-height: inherit;
    height: inherit;
}
.select2-selection__choice > * {
    display: inline-block;
}
select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible
    + .select2-container
    .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible
    + .select2-container
    .select2-selection__arrow,
select[readonly].select2-hidden-accessible
    + .select2-container
    .select2-selection__clear {
    display: none;
}

.hide {
    display: none;
}
.inline-children > * {
    display: inline-block;
}
.invalid {
    border: 1px solid #ff3636 !important;
    box-shadow: 0 0 0.15em #ff3636;
}
.invalid.nav-item {
    border-bottom-width: 0 !important;
}

.dropdown-menu--noStyle {
    min-width: initial;
    width: 100%;
    padding: 0;
    border-color: rgba(221, 221, 221, 0.5);
    overflow: hidden;
}

.dropdown-menu--noStyle .dropdown-item {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
}
#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    border-top-color: rgb(210, 214, 222);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.listChart {
    border-spacing: 0;
}
.modal-header .close.bootbox-close-button {
    right: 0;
    position: absolute;
    margin: -1rem 0rem 0rem auto;
}

.text-right {
    text-align: right !important;
}

.notifications-menu-description {
    font-size: 0.9em;
    color: darkgray;
    white-space: pre-line;
}

.notifications-menu-date {
    font-size: 0.9em;
}

.navbar-nav > .notifications-menu > .dropdown-menu {
    width: 420px;
}
.navbar-nav .notifications-menu ul.menu {
    list-style: none;
}

@media (max-width: 1000px) {
    /*  .navbar-nav > .notifications-menu {
    position: static !important;
  }

  .navbar-nav > .notifications-menu > .dropdown-menu {
    width: 100vw;
    right: 0 !important;
    border-radius: 0 !important;
  }

  .navbar-nav > .notifications-menu .dropdown-toggle {
    position: relative;
  }*/
}
.notifications-menu-date {
    font-size: 0.9em;
}
.notifications-menu-description {
    font-size: 0.9em;
    color: darkgray;
    white-space: pre-line;
}
.notifications-menu-date {
    font-size: 0.9em;
}
.navbar-nav > .notifications-menu > .dropdown-menu {
    width: 420px;
    left: -360px;
}
@media (max-width: 1000px) {
    /*        .navbar-nav > .notifications-menu {
            position: static !important;
            flex-flow: wrap;
	}
        .navbar-nav > .notifications-menu a{
        }
	 .navbar-nav > .notifications-menu > .dropdown-menu {
		 width: 100vw;
		 right: 0 !important;
		 border-radius: 0 !important;
	}
	 .navbar-nav > .notifications-menu .dropdown-toggle {
		 position: relative;
	}
        .notifications-menu .label-info {
            left: auto !important;
            right: -25px;
            top: 2px !important;
        }*/
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    padding: 7px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #444444;
    font-size: 14px;
}

.notifications-menu {
    position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar-nav .notifications-menu ul.menu {
    padding: 0;
}
.notifications-menu .header a {
    width: 100%;
}
.notifications-menu .menu li {
    font-size: 0.9rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    display: block;
    padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
    background: #f4f4f4;
    text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li:not(.header) {
    overflow-y: scroll;
    max-height: 70vh;
    position: relative;
}
.notifications-menu .label-info {
    position: absolute;
    top: 0;
    left: -12px;
    background: #007bff;
    color: white;
    border-radius: 22px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 0px;
    font-weight: bold;
    min-width: 18px;
    text-align: center;
}
/*
 * Container style
 */
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
    display: none;
    opacity: 0;
    transition:
        background-color 0.2s linear,
        opacity 0.2s linear;
    -webkit-transition:
        background-color 0.2s linear,
        opacity 0.2s linear;
    height: 15px;
    /* there must be 'bottom' or 'top' for ps__rail-x */
    bottom: 0px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition:
        background-color 0.2s linear,
        opacity 0.2s linear;
    -webkit-transition:
        background-color 0.2s linear,
        opacity 0.2s linear;
    width: 15px;
    /* there must be 'right' or 'left' for ps__rail-y */
    right: 0;
    /* please don't change 'position' */
    position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: #eee;
    opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition:
        background-color 0.2s linear,
        height 0.2s ease-in-out;
    -webkit-transition:
        background-color 0.2s linear,
        height 0.2s ease-in-out;
    height: 6px;
    /* there must be 'bottom' for ps__thumb-x */
    bottom: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition:
        background-color 0.2s linear,
        width 0.2s ease-in-out;
    -webkit-transition:
        background-color 0.2s linear,
        width 0.2s ease-in-out;
    width: 6px;
    /* there must be 'right' for ps__thumb-y */
    right: 2px;
    /* please don't change 'position' */
    position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.flags.dropdown .dropdown-menu {
    padding: 8px;
}
.flags.dropdown a img {
    max-width: 45px;
}
.flags.dropdown > a img {
    height: 26px;
    width: auto;
}
.btn-primary .fa {
    color: white !important;
}
.select2-multiple-images .select2-selection__choice {
    background: white !important;
}
.select2-multiple-images .select2-container > .selection > .select2-selection {
    height: auto;
}
.select2-container .select2-dropdown img {
    height: 90px !important;
}
.select2-multiple-images .align-self-start {
    text-align: center;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 300px !important;
}
.select2-container--default
    .select2-results__option--highlighted[aria-selected]
    p {
    color: white !important;
}
#carouselDish {
    width: 320px;
}
@media (max-width: 1000px) {
    .navbar .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-nav > .notifications-menu > .dropdown-menu {
        left: -173px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-collapse .navbar-nav {
        flex-direction: column;
    }
}
@media (min-width: 1000px) {
    #mainNav .navbar-collapse {
        position: absolute !important;
    }
}

.dataTables_scrollHeadInner .listChart,
.dataTables_scrollHeadInner {
    width: 100% !important;
}
.select2-category + .select2-container > .selection > .select2-selection {
    min-height: 50px;
    height: auto !important;
}
.select2-category + .select2-container .align-self-start {
    text-align: center !important;
}
.preview.preview_with_cropper .inputfile + label {
    position: static;
    display: block;
    margin-top: 10px;
}
.preview.preview_with_cropper .preview_cropper {
    max-width: 100%;
    top: 0;
    position: static;
    max-height: 300px;
}
.preview.preview_with_cropper {
    margin-bottom: 50px;
    flex-flow: column;
}
.preview.preview_with_cropper .inputfile {
    display: none;
}
@media (min-width: 992px) {
    #mainNav .navbar-brand {
        width: 235px !important;

        text-align: center;
    }
}
#mainNav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
#mainNav .navbar-brand img {
    height: 40px;
}

#loader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: block;
    background-color: white;
    z-index: 100000 !important;
}
#loader-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100000 !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
    .modal-lg,
    .modal-xl {
        max-width: 95%;
    }
}
.table-responsive {
    overflow-x: auto !important;
}
.modal-body .table-responsive {
    max-height: calc(100vh - 171px);
    overflow-x: auto !important;
}
